/* MEDIA QUERIES*/

@media screen and (max-width: 1700px){

ol{
  margin:0;
  padding:0;
}

.main_header h1 {
    margin-top: -120px;
    color: white;
    font-size: 1.8em;
    margin-left: -2em;
    letter-spacing: 0.05em;
}

.static_h{
	    font-size: 1.8em;
	    left: 8%;
}

.galery-box{
  width: 76%;

}

.contact_link {
   
    padding-left: 41%;
    padding-right: 41%;
}

.paraautor {
  right: 6%;
}

.autor{
  
  right: 6%;
}

.col-4 .padding-right,
.col-4 .padding-left{
  padding:0;
} 

}

@media screen and (max-width: 1500px){



.main_header h1 {
    margin-top: -120px;
    color: white;
    font-size: 1.8em;
    margin-left: -1em;
    letter-spacing: 0.05em;
}

.static_h{
	    font-size: 1.8em;
	    left: 5%;
}



.col-4{
	width: 83.33333333333334%;
	margin-left: 8.333333333333332%;
	margin-right: 8.333333333333332%;
	display: block;

}



.col-4 .padding-right,
.col-4 .padding-left{
padding:0;
}




.col-3{
  width:45%;

}

.text_box{

// float: left;
	position: relative;
	min-height: 0.0625em; /* 1/16 */
	// width: 66.66666666666666%;
}

.text_box p{
  text-align: left;
  padding-right: 2em;
  padding-left: 2em;
}

// .text-center{
// 	text-align: center;
// }

.text_box h3{
padding-left: 1.3em;	
  text-align:left;
}


.info_box{
	float: none;
	position: relative;
	min-height: 0.0625em; /* 1/16 */
	width: 100%;
}


.foto_circle {
    width: 50%;
    height: 50%;
    /* margin: 0 auto; */
    border-radius: 50%;
    /* padding: 2em 0 2em 0; */
}

.margin_6 {
  text-align: center;
}

.hidden_p{
  display:block;
}

.info_box p{
  display:none;
}
.info_box{
  text-align: center;
}


.text-align{
	text-align:left;
}

.non_fix{

}
.clear_fix
 {
    display: block;
    content: "";
    clear: both;
  }

.clear_fix_nk

 {
    display: none;
    content: "";
    clear: both;
  }


  .contact_link {
    padding-left: 39%;
    padding-right: 39%;
}



  

   .clear_fix .yellow_sepparator {
        width: 90%;
  }

  #last{
     display: none;
  }
  .nonfix{
  	display: none;
  }

.nk-left-1{
  margin-left: 4.1%;
}





.line_space {
    padding: 0;
    position: relative;
    display: block;
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;

}



.yellow_sepparator {
    height: 4px;
    width: 50px;
    background: #fdd947;
    margin-left: auto;
    margin-right: auto;
}

.paraautor {
  right: 8%;
}

.autor{
  
  right: 7%;
}

.contakt{
  padding-left: 0;
}


}

@media screen and (max-width: 1366px){

  .autor {
    right: 8%;
}

.paraautor {
    right: 8%;
    top:101%;
}
}

@media screen and (max-width: 1300px){



// .main_header h1 {
//     margin-top: -120px;
//     color: white;
//     font-size: 1.6em;
//     margin-left: -1em;
//     letter-spacing: 0.05em;
// }

.main_header h1 {
    display:none;
}

.hidden_h{
  display: block;
  font-size: 1.8em;
      top: 30%;
}

.static_h{
      font-size: 1.8em;
      left: 5%;
      margin-left: -3em;
}


.main_h{
   font-size: 1.8em;
      left: 5%;
      margin-left: -3em;
      top:50%;

}



.paraautor {
  right: 8%;
}

.autor{
  
  right: 9%;
  font-size: 0.8em;
}

.contact_link {
    padding-left: 37%;
    padding-right: 37%;
}

.paraautor{
position:absolute;
  display:block;
  right: 9%;
  top:102%;
  color:white;

}

.static_h{
      font-size: 1.8em;
      left: 8%;
      margin-left: -4em;
}
}



@media screen and (max-width: 1250px){

#cover {
   
    min-height: 620px;
}

.form_container{
  margin-bottom: 2em;
}

}

@media screen and (max-width: 1100px){


.contact_link {
    padding-left: 33%;
    padding-right: 33%;
}
}



@media screen and (max-width: 1024px){
  .autor{
    right:11%;
  }
   .paraautor{
    right:11%;
    top:101%;
  }

  .menu_nav {
    display: block;
    padding-right: 1em;
}
}


@media screen and (max-width: 1000px){


.main_header h1 {
    display:none;
}

.hidden_h{
  display: block;
  font-size: 1.8em;
      top: 30%;
}


.static_h{
      font-size: 1.7em;
      left: 0;
      margin-left: 0;
}

.col-3{
  width: 100%;
}

.col-6{
 width: 83.33333333333334%;
 float:none;
 display:block;
}

.nk-left-1 {
     margin-left:0;
}

.padding_block {
     padding-bottom: 7%; 
     padding-top: 5%; 
}

.margin_6 {
   margin:0 auto;
}

.text_box h3 {
    padding-left: 1.3em;

}


.gallery-box {
    width: 100%;
    margin: 4em auto;
}



#cover {
   
    min-height: 500px;
}


.paraautor {
  right: 10%;
}

.autor{
  
  right: 10%;
}


.contact_link {
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 4em;
}

.nk_logo{
  padding:2em 2em 2em 2em;
}

.col-nk{
  width: 100%;
}

.float_left {
    float: none;
}

.nonfix{
  display:block;
}

.wrapper_container{
padding-bottom: 0;
}

.menu_nav {
    padding-right: 1.5em;
    margin-top: -1em;
}

.clear_fix{
  display:none;
}

}

@media screen and (max-width: 900px){

.logo {
    top: 0.35em;
    display: inline;
    width: 3.7em;
    height: 3.70em;
    left:1.4em;


}


.social_nav {
    padding-left: 3em;
    margin-top: 0.5em;
}



.main_header h1 {
    display:none;
}

.hidden_h{
  display: block;
}

.col-4{
      margin-bottom: 2em;
  float:none;
  display:block;

      margin-left: 9.333333333333332%;
    margin-right: 8.333333333333332%;
}

.col-4 {
    width: 80.333333%;
    }

.text_box,
.info_box{
  float:none;
  display:block;
  width:100%;
   margin:0 auto ;
   
}


.text_box h3{
padding-left: 1.3em;  
  text-align:left;
}

 .text-align{
  text-align: center;
 }




.menu_nav{
	display: block;
      padding-right: 0.5em;
}


#menuToggle
{
  display: none;
  position: absolute;
  top: 1.8em; /* 30/16 */
   right: 3.125em; 
  
  z-index: 100;
  
  -webkit-user-select: none;
  user-select: none;
}

#menu{
 //  width: 14.75em;
 //  padding-bottom: 40.5em;
 //  padding-top: 9.8125em;
 // text-align: center;
 //     right: -8.125em;
 //       padding-left: 0em;
 
 display:none;
}


.col-6 {
    width: 62.333333%;
  }


  #cover {
   
    min-height: 450px;
}



.wrapper {
  
    padding: 2em 2em 6em 2em;
}


.global_footer {
    background: #96b4b1;
    padding: 1em 1em 1em 1em;
}

  .main_h{
   font-size: 1.8em;
      left: 5%;
      margin-left: -3em;
      top:40%;

}

}


@media screen and (max-width: 812px ){
.social_nav {
    padding-left: 2em;
    margin-top: 0.5em;
}

.menu_nav {
    display: block;
    padding-right: 0em;
}
}


@media screen and (max-width: 768px ){
#menu{
  width: 14.75em;
  padding-bottom: 47em;
  padding-top: 9.8125em;
 text-align: center;
     right: -8.125em;
       padding-left: 0em;
 
  }

  .main_h{
   font-size: 1.6em;
      left: 5%;
      margin-left: -1em;
      top:40%;

}

.contact_link {
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 4em;
}

.wrapper_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 100%;
    min-width: 20em;
    padding-top: 1.55em;
    padding-bottom: 1.55em;
}

.social_nav {
    padding-left: 5em;
    margin-top: 0.5em;
}


  .autor{
    right:6%;
  }
   .paraautor{
    right:6%;
   top: 102%;
  }

.col-4 {
    margin-bottom: 2em;
    float: none;
    display: block;
    margin-left: 9.333333%;
    margin-right: 8.333333333333332%;
}

ol{
  margin:0;
  padding:0;
}

.parallax_1::before{

min-height: 80vh;
 
}

.parallax_1 {
  min-height: 80vh;
  
}
.parallax_2::before{

min-height: 80vh;
 
}

.parallax_2 {
  min-height: 80vh;
  
}

.parallax_3{

min-height: 80vh;
 
}

.parallax_3::before{

min-height: 80vh;
 
}

// .parallax_1::before {
//   min-height:50 vh;
  
// }

// .parallax_1 {
//     min-height: 50vh;
// }

// .parallax_2::before {
//   min-height:50 vh;
  
// }

// .parallax_2 {
//     min-height: 50vh;
// }

// .parallax_3::before {
//   min-height:50 vh;
  
// }

// .parallax_3 {
//     min-height: 50vh;
// }

.static_h {
  top:10em;
    font-size: 1.7em;
    left: 0;
    margin-left: 0;
}

.brake_line{
  border-bottom:0.15em solid  #e2dfdf;
}

 #cover .main_h{
    top:5em;
  }

  .menu_nav {
    display: block;
    padding-right: 1em;
}
}


@media screen and (max-width: 736px){


.autor {
    right: 7%;
}
.static_h{
  top: 5em;
}

.parallax_1 {
    min-height: 100vh;
}

.menu_nav {
    display: block;
    padding-right: 1.3em;
}
}

@media screen and (max-width: 731px){
.static_h {
    top: 4em;
    font-size: 1.7em;
    left: 0;
    margin-left: 0;
}

.paraautor {
    right: 7%;
    top: 106%;
}

.autor {
    right: 7%;
}

}

@media screen and (max-width: 700px){

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: inline-block;
    overflow: hidden;
}


.col-4{
  margin:0 ;
  float:none;
  display:block;

  width:100%;
 margin:0;
}

.margin_6 {
    margin: 0 auto;
}

.col-6 {
    width: 90%;
    float: none;
    display: block;
}
ol{
  margin:0;
  padding:0;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

  #cover {
   
    min-height: 400px;
}


.main_h{
  font-size: 1.8em;
  left:5%;
  margin-left:  -1em;
 top:30%;
}

}

@media screen and (max-width: 669px){
.menu_nav {
    display: block;
    padding-right: 1.1em;
}
}

@media screen and (max-width: 640px){

.social_nav {
    padding-left: 5em;
    margin-top: 0.5em;
}

.wrapper {
    padding: 2em 2em 6em 2em;
}
.autor{
  right:8%;
}
.paraautor{
   right:8%;
   top:103%;
}

}

@media screen and (max-width: 600px){


 #cover {
   
    min-height: 350px;
}


.contact_link {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 3em;
}

.social_nav li {
    padding-left: 2em;
    padding-right: 0.5em;
}

.social_nav li:first-child {
    padding-left: 2em;
}

#menuToggle {
    display: block;
    }

    .menu_nav {
    display: none;
}
#menu {
    display: block;
}

}

@media screen and (max-width: 568px){
.static_h {
  top: 2em;
}
.main_h{
  display:none;
}

.paraautor {
    right: 3%;
    top: 107%;
}

#menu {
    width: 14.75em;
    padding-bottom: 44em;
    padding-top: 6.8125em;
    text-align: center;
    right: -8.125em;
    padding-left: 0em;
}



.social_nav {
    padding-left: 3em;
    margin-top: 0.5em;
}

.autor {
    right: 9%;
}





}





@media screen and (max-width: 540px){


 #cover {
   
    min-height: 300px;
}

.contact_link {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2em;
}

.main_h{
  font-size: 1.8em;
  left:5%;
  margin-left:  -1em;
 top:30%;
}

.wrapper_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0em;
    padding-right: 0em;
    max-width: 100%;
    min-width: 20em;
    padding-top: 1.55em;
    padding-bottom: 1.55em;
}

}

@media screen and (max-width: 510px){


  

 #cover {
   
    min-height: 290px;
    margin-top: 5em;
}

.autor {
    position: absolute;
    display: block;
    top: 7px;
    right: 12%;
    color: white;
}


.main_h{
  font-size: 1.6em;
  left:5%;
  margin-left:  -1em;
 top:25%;
 display:none;
}

.social_nav {
    padding-left: 5em;
    margin-top: 0.5em;
}

.parallax_1,
.parallax_2,
.parallax_3{
min-height: 40vh;
}

.static_h{
  top:2em;
  font-size: 1.6em;
}

.js .cd-h-timeline__event{
      padding: 0;
}

.text_box h3 {
  padding-left: 0em;
    text-align: left;
}
.text_box p {
    text-align: left;
    padding-right: 0em;
    padding-left: 0em;
}

.cd-h-timeline__event-title{
text-align: center;
}

#cover {
    min-height: 259px;
    margin-top: 5em;
}
.nk_logo {
    padding: 2em 2em 0em 2em;
}


#menu {
    position: absolute;
    width: 33.75em;
    margin: -6.25em 0 0 0;
    padding: 13.125em;
    padding-bottom: 50em;
    padding-top: 7.8125em;
    right: -5.125em;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.autor{
   position: absolute;
    display: block;
    top: 7px;
    right: 14%;
    color: white;
}

.paraautor{

  right: 7%;
  top:109%;
}


.contact_link {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 2em;
}
  

}


@media screen and (max-width: 414px){
  #menu {
    width: 32em;
    padding-bottom: 3.8em;
    padding-top: 7em;
    text-align: center;
    right: -8.5em;
    padding-left: 9em;
}

  #menuToggle {
    display: block;
    position: absolute;
    top: 1.875em;
    right: 3.125em;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

.nk_logo {
    padding: 2em 2em 2em 2em;
}

.main_h{
  font-size: 1.6em;
  left:5%;
  margin-left:  -1em;
 top:25%;
 display:none;
}

.social_nav li:first-child {
    padding-left: 2em;
}
 h1{
  font-size: 1.8em;
 }

 .text_box h3 {
    padding-left: 0em;
    text-align: left;
}

 .wrapper {
    padding: 2em 2em 2em 2em;
}

.global_footer{
  padding: 0em 2em 1em 2em;
}

.form_container {
    margin-bottom: 3em;
}

ol{
  padding: 0px;
}

.text_box p {
    text-align: left;
    padding-right: 0em;
    padding-left: 0em;
}

.paraautor{
  font-size: 0.6em;
  top:110%;
  right:4%;
}

.autor{
  font-size: 0.6em;
  right: 12%;
}
.contact_link {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1.5em;
}
#cover {
    min-height: 245px;
    margin-top: 5em;
}

.static_h {
    top: 3em;
    font-size: 1.6em;
}

}

@media screen and (max-width: 411px){
#menu {
    width: 32em;
    padding-bottom: 3.8em;
    padding-top: 7em;
    text-align: center;
    right: -8.5em;
    padding-left: 9em;
}

  #menuToggle {
    display: block;
    position: absolute;
    top: 1.875em;
    right: 3.125em;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

.static_h {
    top: 2em;
    font-size: 1.6em;
}

}


@media screen and (max-width: 375px){
 

#menu {
    width: 29em;
    padding-bottom: 4em;
    padding-top: 6.8125em;
    text-align: center;
    right: -7.5em;
    padding-left: 10em;
}


  #menuToggle {
    display: block;
    position: absolute;
    top: 1.875em;
    right: 3.125em;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

.contact_link {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1.5em;
}
.nk_logo {
    padding: 2em 2em 0em 2em;
}
.autor{
      right: 14%;
}
.wrapper_container{
  padding-right: 0em;
}

.wrapper {
    padding: 2em 1em 3em 1em;
}

.cd-h-timeline{
  margin-left: -0.5em;
}

.js .cd-h-timeline__events {
    position: relative;
    width: 100%;
     overflow:visible;
    transition: height .4s;
}

.js .cd-h-timeline__event {
     padding: 9px; 
}
.js .cd-h-timeline__container{
margin-left:0.2em;
 }
.static_h {
    top: 2em;
  }
}

@media screen and (max-width: 360px){
 
  .menu .dizmas{
    // display:none;
  }

#menu {
    width: 29em;
    padding-bottom: 4em;
    padding-top: 6.8125em;
    text-align: center;
    right: -8.5em;
    padding-left: 9em;
}

  #menuToggle {
    display: block;
    position: absolute;
    top: 1.875em;
    right: 3.125em;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

.js .cd-h-timeline__event {
     padding: 9px; 
}
.js .cd-h-timeline__container{
margin-left:0.2em;
 }

.static_h {
    top: 2em;
  }
}


@media screen and (max-width: 330px){
.content {
     padding: 0; 
}
.hidden_h {
  padding: 0 ;
}
#menu {
    width: 29em;
    padding-bottom: 4em;
    padding-top: 6.8125em;
    text-align: center;
    right: -8.5em;
    padding-left: 9em;
}
}


@media screen and (max-width: 320px){
 
.wrapper_container {
      padding-left: 1em;
    padding-right: 1em;
       padding-bottom: 0em;
}


// .social_nav li{
//   display:none;
// }
  .col-6 {
    width: 80%;
  }

  .text_box, .info_box {
    float: none;
    display: block;
    width: 94%;
    margin: 0 auto;
}

.padding_block {
    padding-bottom: 7%;
    // padding-top: 5%;
}
 h3{
 position:relative;
 z-index: 8;
 margin:5% 5%;
 }

 .text_box h3 {
    padding-left: 0em;
    text-align: center;
    font-size: 1.4em;
}

 .adresa{
  width: 99%;
 }


 .logo {
    top: 0.35em;
    display: inline;
    width: 3.7em;
    height: 3.70em;
    left: 1em;
  }

#menu {
    width: 29em;
    padding-bottom: 3em;
    padding-top: 5.8125em;
    text-align: center;
    right: -8.7em;
    padding-left: 10em;
}

  #menuToggle {
    display: block;
    position: absolute;
    top: 1.875em;
    right: 2.7em;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

#cover {
    min-height: 216px;
    margin-top: 5em;
}

.cd-h-timeline {
     margin-left: 0em; 
         
}
.container {
    // width: calc(100% - 0.25em);
       min-width: 18em;
    margin-left: auto;
    margin-right: auto;
}

.js .cd-h-timeline__event {
    padding: 14px;
}

.js .cd-h-timeline__container {
  padding: 0 14px 0 14px;
}

.static_h {
    top: 0em;
    font-size: 1.6em;
}

.js .cd-h-timeline__navigation--prev {
    left: 12px;
    }

    .js .cd-h-timeline__navigation--next {
    right: 14px;
}
.paraautor{
  top: 114%;
  right:4%;
}
.autor{
   right:4%;
}

.col-4{
  width: 92%;
    margin: 0 auto 1em;
}

.form_container {
    margin-bottom: 4em;
}

.aside_contact{
  margin-top: 2em;
}

.social_nav {
    padding-left: 3em;
    margin-top: 0.5em;
}

}